@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

/* Estilos para el contenedor principal */
.remove-background {
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px;
  box-sizing: border-box;
}

/* Estilos para la barra de navegación */
.remove-background .navbar2 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background: #FFFFFF;
  position: relative;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 22px 3px 15px;
  width: 100%;
  box-sizing: border-box;
}

/* Estilos para los elementos de la barra de navegación */
.remove-background .container-2-2 {
  margin-top: 7px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}

/* Estilos para el logo */
.remove-background .logo-artify-2 {
  margin-right: 23px;
  margin-left: 5px;
  width: 130px;
  height: 40x;
  cursor: pointer;
}

/* Estilos para los elementos con enlace en la barra de navegación */
.remove-background .span-1 {
  color: #545454;
  text-decoration: none;
  position: relative; 
  cursor: pointer;
}

.remove-background .span-1::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background: #54545473;
  bottom: -5px;
  border-radius: 5px;
  transform: translateY(10px);
  opacity: 0;
  transition: .3s ease; 
}

.remove-background .span-1:hover::after {
  transform: translateY(0);
  opacity: 1;
}

/* Estilos para los elementos de la barra de navegación específicos */
.remove-background .remover-fondo1,
.remove-background .cambiar-formato1,
.remove-background .comprimir1 {
  margin: 0 27.5px 1px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Jost';
  font-weight: 400;
  font-size: 20px;
  color: #545454;
}

.remove-background .todas-las-herramientas1 {
  margin: 0 10px 1px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Jost';
  font-weight: 400;
  font-size: 20px;
  color: #545454;
}

.remove-background .polygon-1 {
  transform: rotate(-178.886deg);
  margin: 10px 0 10.7px 0;
  width: 20px;
  height: 10px;
  cursor: pointer;
}

.remove-background .ellipse-1 {
  margin-bottom: 2px;
  width: 43px;
  height: 40px;
  cursor: pointer;
}

/* Estilos para el texto "Remover fondo de una imagen" */
.remove-background .remover-fondo-de-una-imagen {
  margin-bottom: 38px;
  display: inline-block;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Jost';
  font-weight: 600;
  font-size: 62px;
  color: #2c2c2c;
}

/* Estilos para el texto "Remueve y modifica el fondo..." */
.remove-background .remueve-fondo {
  margin: 0 3px 31px 0;
  display: inline-block;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Jost';
  font-weight: 400;
  font-size: 26px;
  color: #2c2c2c;
}

/* Estilos para el contenido principal */
.remove-background .container-3-1 {
  border: 2px dashed #1b72d68f;
  background-color: #F2F4F6;
  padding: 20px;
  transition: background-color 0.3s, border-color 0.3s; 
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 196px 0 229px 0;
  width: 98.7%;
  box-sizing: border-box;
}

.remove-background .container-3-1.drag-over {
  border-color: #1b72d6c4;
  background-color: #cce1f7;
}

/* Estilos para el contenedor */
.remove-background .container {
  margin-top: 9px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}

/* Estilos para el contenedor de botón de seleccionar archivo */
.remove-background .container-1-2 {
  border-radius: 13px;
  background: #9DE2F8;
  top: 7px;
  right: 35px;
  display: flex;
  padding: 20px 0 18px 1px;
  width: 410px;
  box-sizing: border-box;
  cursor: pointer; 
  transition: background-color 0.3s ease, box-shadow 0.3s ease; 
  user-select: none;
}

.remove-background .container-1-2:hover {
  background-color: #7acbf5; 
  box-shadow: 0 0 10px #7acbf5; 
}

/* Estilos para el texto "Seleccionar archivo" */
.remove-background .seleccionar-archivo {
  overflow-wrap: break-word;
  font-family: 'Jost';
  font-weight: 400;
  margin-left: 100px;
  font-size: 26px;
  color: #00387A;
  text-align: center; 
  cursor: pointer; 
}

/* Estilos para el texto "O arrastra y suelta aquí" */
.remove-background .oarrastra-ysuelta-aqui {
  margin-right: 2px;
  margin-top: 15px;
  overflow-wrap: break-word;
  font-family: 'Jost';
  font-weight: 400;
  font-size: 22px;
  color: rgba(0, 0, 0, 0.68);
}

.navbar2 {
  position: relative;
}

.todas-las-herramientas1 {
  position: relative;
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  border: 1px solid #ddd;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.dropdown-menu span {
  display: block;
  padding: 10px 20px;
  cursor: pointer;
}

.dropdown-menu span:hover {
  background-color: #f5f5f5;
}